.bodyEscalaContainer {
    /* display: none; */
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}



.styled-table {
    border-collapse: collapse;
    width: 100%;
    /* height: 100%; */
    /* border-radius: 15px; */
    background-color: #ffffff;
    /* margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table td {
    padding: 0.1% 5px;
}

.styled-table td label{
    cursor: pointer;
}

.styled-table td:has(input:checked){
    background-color: yellow;
}

.styled-table th{
    padding: 0.3% 5px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.mainEscalaContainer {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 95vw;
    height: 98vh;
    align-items: center;
    background-color: #fff;
    /* overflow: hidden; */


    /* padding: 1% 1%; */
    border-radius: 25px;
}


/* .headerEscalaContainer{
    width: 100%;
   height: 5%;
} */


.escalaContainer {
    width: 100%;
    min-height: 95%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    /* padding: 1% 1%; */
    /* background-color: aqua; */
    /* border-radius: 15px; */
}


.containerColunas {
    /* width: 40%; */
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.containerColunas>button {
    width: 49%;
    margin: 0 1%;
    border-radius: 5px;
}


.personalizadoBtnContainerTela2 {
    width: 100%;
    height: 4%;
    display: flex;
    padding: 0 1%;
    /* background-color: ; */
    /* background-color: #009879; */
    justify-content: space-between;
    text-align: center;
}

.personalizadoBtnContainerTela2>button {
    border-radius: 5px;
}

.personalizadoBtnContainerTela2>.personalizadoBtn[gerarEscala] {
    width: 25%;
}

.personalizadoBtn[tela2Voltar] {
    background-color: #B95946;
}

.personalizadoBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.col2 {
    width: 49%;
    height: 100%;
    /* background-color: blue; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.thContainer{
    display: flex;
    align-items: center;
    /* background-color: #B95946; */
    gap: 5%;
    /* justify-content: space-between; */
}

.creditsEscalaContainer{
    font-size: 14px;
    font-style: italic;
    width: 40%;
    height: 98%;
    margin: 0 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
    align-items: end;
    /* align-content: end; */
    /* background-color: pink; */
}